.Leftside{
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
    position: relative;
    gap:1rem;
    overflow-x: clip;
    background-color: #ffffff;
    margin-top: 2rem;
    margin-left: 2rem;
}

.Leftside h2 {
    text-align: center;
  }
  
  .Leftside ul {
    list-style: none;
    padding: 0;
    text-align: center;
  }
  
  .Leftside li {
    padding: 10px;
    cursor: pointer;
    transition: 0.3s;
    font-size: 1rem;
  }
  
  .Leftside li:hover {
    background-color: #eccccc;
  }
.Leftside h2{
  font-style: italic;
  font-size: x-large;
  text-align: center;
  margin-top: 1rem;
}