.text-head{
    padding: 5px 70px;
    color: #252525; 
  }
  .text-head p{
    font-size: 23px; 
    font-weight:normal; 
    font-family:'Gill Sans';
    margin-top: 20px;
    padding: 20px 0px;
    justify-content: space-around;
  }
  
  .text-head h2 {
    font-size: 20px; 
    margin-top: 40px;
  }

  .price-btn{
    padding: 0px 70px;
  }

  .input-group {
    padding: 10px 70px;

  }
  
  .input-group label {
    display: block;
    margin-right: 20px;
    margin-bottom: 10px;
    font-family: 'Gill Sans Mt';
    font-weight: bold;
  }

  select, input {
  width: 200px;
  padding: 15px;
  margin-right: 100px;
  margin-bottom: 30px;
  border: 1px solid #ccc;
  font-size: 18px;
}

.paid{
  display: flex;
}
