.para-head h3{
    font-size: 25px; 
    font-weight:bold; 
    font-family:Cambria;
    padding: 10px 70px;
    margin-top: 10px;
    color: #333; 

}


.para-head p{
    font-size: 23px; 
    font-weight:normal; 
    font-family:'Gill Sans';
    padding: 20px 70px;
    color: #333; 
    margin-top: 30px;
    justify-content: space-around;
}