.objective {
    padding: 20px 70px;
  }
  
 .objective input{
    background-color: rgb(255, 255, 255);
    width: 80%;
    padding: 20px;
    margin: 10px 0px;
    border: 1px solid black;
 }
  
  
  .obj input::placeholder {
    font-size: 22px; 
    color: gray;
  }
  