/* events.module.css */
.container {
  background-color: rgb(255, 255, 255);
  margin-inline: 30px;
  }
  
  
  .eventList {
    list-style: none;
    padding-inline: 80px;
    background-color: rgb(251, 220, 227);
    display: flex;
    flex-wrap: wrap;
    gap: 1px;
  }
  
  .eventCard {
    width: calc(27% - 32px);

  }
  