#main{
  width: 60px;
  background-color: #ff5f56;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 9999; 
}
.Main{
  z-index: 1;
  margin-left: 120px;
}
.Main h1{
  padding-top: 20px;
  font-family:'Gill Sans';
  font-size: 45px;
  color: #333333;
  margin: 50px 0px;
}
.slider {
    display: flex;
    justify-content:flex-start;
    background-color: rgb(255, 255, 255);
    margin-bottom: 20px;
    border-bottom: 1px solid grey;
  }
  
  /* Individual option in the slider */
  .slider .option {
    cursor: pointer;
    padding: 10px 25px;
    font-weight: bold;
    font-size: 22px;
    font-family:'Gill Sans', 'Gill Sans MT';
    transition: background-color 0.3s;
    color: rgb(90, 90, 90);
    border-bottom: 5px solid transparent; 
  }
  
  
  .slider .option:hover{
    /* background-color: #dbdada;
    border-bottom-color:  grey; */
    background-color: #F15946; 
    border-bottom-color:grey;
    color:#fafafa
  }
  
  
  /* Active option in the slider */
  .slider .option.active{
    border-bottom-color: #000000; 
    background-color: #ffffff;
    color:#000000
  }
  
  