/* Sidebar.css */

.perform-sidebar {
    position: fixed;
    margin: 5px 20px;
    width: 325px;
    height: 100%;
    display: flex;
    flex-direction: column; /* Align items vertically */
    /* justify-content: center; */
    background-color: #ffffff;
    color: rgb(90, 90, 90);
  }
  
  .perform-sidebar ul {
    margin-top: 30px;
    list-style-type: none;
    padding: 0px;
  }
  
  .perform-sidebar li {
    padding: 20px 20px;
    cursor: pointer;
    font-weight: 500;
    font-size: 20px;
    font-family:'Gill Sans', 'Gill Sans MT';
    border-left: 5px solid transparent; /* Initially set border color as transparent */
  }
  
  .perform-sidebar li:hover{
    background-color: #dbdada;
    border-left-color: grey;
  }
  .perform-sidebar li.active {
    background-color: #ffe3df;
    border-left-color: #F15946; 
  }
  
  .perform-sidebar .sidebar-icon{
    margin-right: 16px;
  }
  
  .perform-sidebar button{
    margin-top: 10px;
    margin: 20px;
  }