.FollowersCard{
    width: 90%;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    font-size: 13px;
    border-radius: 0.7rem;
    position: relative;
    overflow-x: clip;
    background-color: #ffffff;
    margin-top: 2rem;
    
}
.follower{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.follower>div{
    display: flex;
    gap: 10px;
}
.followerImage{
    margin-left: 1rem;
    width: 3.2rem;
    height: 3.2rem;
    border-radius: 50%;
}
.name{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.name>span:nth-of-type(1){
    font-weight: bold;
}
.fc-button{
    height: 2rem;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 1rem;
}
.FollowersCard h3{
    margin-top: 1rem;
    font-style: italic;
    font-size: large;
    text-align: center;
}