.mainContainer {
    padding: 32px;
    height: 75vh;
    overflow-y: scroll;
    width: 100%;
  }
  .container {
    border: 2px solid rgb(209, 209, 209);
    margin: 2rem;
    border-radius: 10px;
  }
  .outerContainer {
    overflow: scroll;
  }