.container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    padding: 2rem;
    gap: 2rem;
  }
  
  .mainMessage {
    display: flex;
    background-color: #FAFAFA;
    justify-content: center;
    border-radius: 20px;
    width: 100%;
    height: 100%;
  }
  
  .previewImg {
    border-radius: 20px;
  }
  
  .messageContainer {
  padding: 3rem;
  }
  
  @media (max-width: 860px) {
    .container {
      flex-direction: column;
      margin: 2rem;
    }
  }