/* events.module.css */
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .eventList {
    list-style: none;
    padding: 0;
  }
  
  .eventCard {
    margin: 16px;
  }
  