/* Sidebar.css */
#body{
  padding: 10px 20px;
}
#sidebar {
    height: 100vh;
    width: 280px;
    position: fixed;
    display: flex;
    flex-direction: column;
    padding-top: 80px;
    border: #333;
    border-radius: 20px;
    background: linear-gradient(#d4b9f8, #e8afbf);
    transition: background-color 0.3s ease;
}
  
  #sidebar.dark-mode {
    background-color: #333; /* Dark mode background color */
  }
  
  #sidebar a {
    text-decoration: none;
    color: #494552;
    padding: 10px 20px;
    width: 100%;
    font-weight:500;
    font-size: 2.3rem;
    transition:color 0.3s ease; /*Addatransitionforsmoothcolorchange*/
  }
  #sidebar a:hover{
    background-color:#ffffff;
  }
  
  #sidebar.dark-mode a {
    color: #ccc; /* Dark mode text color */
  }
  