* {
    margin:0px;
}

.logo-container {
    display: flex;
    align-items: center;
    background-color: white;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.8); 
}
  
  .logo-common {
    padding: 30px 40px;
    font-weight:400;
    border-right: 1px solid rgb(200, 200, 200);
  }
  
  .step-count {
    font-size: 25px;
    font-weight:200;
    font-family: Georgia;
    margin-left: 40px;
  }
  